// boilerplate
$componentBaseColor: $lightGray;
$textColor: $text;
.c-component {
    @include roundedAll();
    border: 1px solid darken($componentBaseColor, 5%);
    background: $componentBaseColor;
    overflow: hidden;
    display: block;
    
    &__head {
        background: $componentBaseColor;
        padding: 15px;
        min-height: 70px;
    }
    .head__title {
        @include labels($tc: $textColor);
    }
    .head__options {
        > span, a {
            @include transition();
            @include roundedAll();
            width: 32px;
            height: 32px;
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: center;
            background-color: transparent;
            cursor: pointer;
            &:hover {
                background: darken($componentBaseColor, 5%);
            }
            svg, img, i {
                width: 20px;
                height: 20px;
                display: block;
                object-fit: contain;
            }
            svg {
                path {
                    fill: $textColor;
                }
            }
        }
    }
    
    &__inputHidden {
        position: absolute;
        top: 0;
        left: 0;
        width: 1px;
        height: 1px;
        @include opacity(0);
    }
    
    &__content {
        @include scroll($bar: $mediumGray, $bg: $white2, $size: 2px);
        @include transition();
        min-height: 80px;
        display: block;
        position: relative;
        padding: 20px;
        background: $white3;
        overflow: auto;
    }
    
    &__hero {
        position: relative;
        z-index: 1;
    }
    
    &__observations {
        @include scroll($bar: $mediumGray, $bg: $white, $size: 4px);
        overflow: auto;
        display: none;
        width: 100%;
        height: 100%;
        padding: 20px;
        position: absolute;
        top: 0;
        right: 0;
        z-index: 2;
        background: rgba(255,255,255,0.95);
        p {
            @include paragrafos($fs: 16px);
        }
    }
    
    &.is-obs-active {
        .c-component__content {
            min-height: 120px;
        }
        .c-component__observations {
            display: block;
        }
    }
}

// form / alerts
$field_height: 52px;
$field_padding: 20px;
$field_radius: $field_height / 2;
$fields_borderColor: transparent;
$fields_borderColor_focus: $primaryLight;
$field_bg: $greenLight;
$field_bg_focus: $mutedGray;
$spacer_bg: $greenLight;
$field_checks_size: 20px;
.c-form {
    &__fieldsHero {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        &.--pad5 {
            @include calcWidthForPositionNegative(-5px);
            > .c-form__field {
                padding: 5px;
                &.--file {
                    .inputAttach {
                        @include calc(width, 100%, '-', 10px);
                        left: 5px;
                        bottom: -20px;
                    }
                    &:after {
                        bottom: 17px;
                        right: 25px;
                    }
                }
            }
            > .c-form__spacer {
                @include calc(width, 100%, '-', 10px);
                left: 5px;
                margin: 5px 0;
            }
        }
        &.--pad10 {
            @include calcWidthForPositionNegative(-10px);
            > .c-form__field {
                padding: 10px;
                &.--file {
                    .inputAttach {
                        @include calc(width, 100%, '-', 20px);
                        left: 10px;
                        bottom: -15px;
                    }
                    &:after {
                        bottom: 22px;
                        right: 30px;
                    }
                }
            }
            > .c-form__spacer {
                @include calc(width, 100%, '-', 20px);
                left: 10px;
                margin: 10px 0;
            }
        }
        &.--pad15 {
            @include calcWidthForPositionNegative(-15px);
            > .c-form__field {
                padding: 15px;
                &.--file {
                    .inputAttach {
                        @include calc(width, 100%, '-', 30px);
                        left: 15px;
                        bottom: -10px;
                    }
                    &:after {
                        bottom: 27px;
                        right: 35px;
                    }
                }
            }
            > .c-form__spacer {
                @include calc(width, 100%, '-', 30px);
                left: 15px;
                margin: 15px 0;
            }
        }
        &.--pad20 {
            @include calcWidthForPositionNegative(-20px);
            > .c-form__field {
                padding: 20px;
                &.--file {
                    .inputAttach {
                        @include calc(width, 100%, '-', 40px);
                        left: 20px;
                        bottom: -5px;
                    }
                    &:after {
                        bottom: 32px;
                        right: 40px;
                    }
                }
            }
            > .c-form__spacer {
                @include calc(width, 100%, '-', 40px);
                left: 20px;
                margin: 20px 0;
            }
        }
        &.--pad25 {
            @include calcWidthForPositionNegative(-25px);
            > .c-form__field {
                padding: 25px;
                &.--file {
                    .inputAttach {
                        @include calc(width, 100%, '-', 50px);
                        left: 25px;
                        bottom: 0;
                    }
                    &:after {
                        bottom: 35px;
                        right: 45px;
                    }
                }
            }
            > .c-form__spacer {
                @include calc(width, 100%, '-', 50px);
                left: 25px;
                margin: 25px 0;
            }
        }
    }
    
    // spacer
    &__spacer {
        display: block;
        position: relative;
        height: 1px;
        background: $spacer_bg;
    }
    
    // all elements
    input, textarea, select, label, .fakeLabel {
        display: block;
        width: 100%;
    }
    
    // fields
    input, select, textarea {
        @include transition();
        @include roundedAll($field_radius);
        @include paragrafos();
        background: $field_bg;
        border: 1px solid $fields_borderColor;
        @include placeholder {
            @include labels($tc: $placeholderText);
        }
        &:focus {
            border-color: $fields_borderColor_focus;
            background: $field_bg_focus;
        }
    }
    input, select {
        height: $field_height;
        padding: 20px 24px 5px 24px;
    }
    textarea {
        padding-left: 25px;
        padding-right: 25px;
        padding-bottom: 25px;
        padding-top: 35px;
        min-height: $field_height * 3;
        max-height: 500px;
        resize: vertical;
    }
    
    // titles & labes
    label, .fakeLabel {
        @include labels();
        margin-bottom: 2px;
        position: absolute;
        padding: 0 ($field_padding + 10);
        top: 15px;
        left: 0;
        z-index: 3;
        &.--withObs {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-between;
            .caption, strong {
                @include labels();
            }
            .obs, .observation {
                @include labels();
                font-weight: $fwLight;
            }
        }
    }
    
    // fields with modifiers
    &__field {
        position: relative;
        &.--range {
            .rangeHero {
                @include calcWidthForPositionNegative(-5px);
                display: flex;
                flex-direction: row;
            }
            .min, .max {
                padding: 0 5px;
                @include flexWidth(50%);
            }
        }
        &.--check {
            .checkHero {
                > * {
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    margin-bottom: 10px;
                    &:last-of-type {
                        margin-bottom: 0;
                    }
                    &:first-of-type {
                        margin-top: 5px;
                    }
                }
            }
            .fakeLabel {
                margin-bottom: 8px;
            }
            label {
                @include paragrafos($tc: 16px);
                padding-left: 5px;
                cursor: pointer;
                order: 2;
            }
            input {
                @include flexWidth($field_checks_size);
                height: $field_checks_size;
                padding: 0;
                border: 0;
                order: 1;
                &:checked {
                    background: url(#{$media_icons}/icon_checked.svg);
                    background-repeat: no-repeat;
                    background-size: cover;
                    background-position: center;
                }
            }
            &.--checkbox {
                input {
                    @include roundedAll(4px);
                }
            }
            &.--radio {
                input {
                    @include roundedAll(50%);
                }
            }
        }
        &.--file {
            position: relative;
            .inputText {
                position: relative;
                z-index: 1;
                cursor: pointer;
                padding-right: 50px;
            }
            .inputAttach {
                //background: red;
                cursor: pointer;
                background: transparent;
                position: absolute;
                z-index: 2;
                width: 100%;
                @include opacity(0);
            }
            
            &:after {
                @include transforms(rotate(0deg), center);
                @include transition();
                content: '';
                width: 20px;
                height: 20px;
                display: block;
                position: absolute;
                bottom: 22px;
                right: 35px;
                background: url(#{$media_icons}icon_attach.svg);
                background-repeat: no-repeat;
                background-position: center center;
                background-size: contain;
                z-index: 1;
            }
        }
        &.--select {
            position: relative;
            * {
                @include transition(all, 0ms, linear);
            }
            label {
                top: 10px;
            }
            .selectBox,
            .inputBox {
                @include roundedAll($field_radius);
                background: $field_bg;
                height: $field_height;
                display: block;
                position: relative;
                width: 100%;
                input {
                    padding-left: 27px;
                    padding-right: 25px;
                }
            }
            .selectBox {
                select {
                    @include opacity(0);
                    display: block;
                    width: 100%;
                    height: 100%;
                    position: absolute;
                    bottom: 0;
                    left: 0;
                    z-index: 2;
                    padding-left: 27px;
                    padding-right: 25px;
                }
            }
            .inputBox {
                z-index: 1;
                &:after {
                    @include transforms(rotate(0deg) translateY(50%), center);
                    @include transition();
                    content: '';
                    width: 12px;
                    height: 10px;
                    display: block;
                    position: absolute;
                    bottom: 50%;
                    right: 20px;
                    background: url(#{$media_assets}caret-down.svg);
                    background-repeat: no-repeat;
                    background-position: center center;
                    background-size: contain;
                }
            }
            
            &.is-active {
                .selectBox {
                    select {
                        @include opacity(1);
                        background: transparent;
                        height: $field_height;
                    }
                }
                .inputBox {
                    input {
                        @include opacity(0);
                    }
                    &:after {
                        @include transforms(rotate(180deg) translateY(50%), bottom);
                    }
                }
            }
        }
        &.--select.--full {
            .selectBox {
                height: auto;
                background-color: transparent;
            }
        }
        &.--select2 {
            .select2 {
                width: 100% !important;
                position: relative;
                .selection {
                    .select2-selection {
                        &:after {
                            @include transition();
                            content: '';
                            width: 12px;
                            height: 10px;
                            display: block;
                            position: absolute;
                            bottom: ($field_height / 2) - 5px;
                            right: 20px;
                            z-index: 4;
                            background: url(#{$media_assets}caret-down.svg);
                            background-repeat: no-repeat;
                            background-position: center center;
                            background-size: contain;
                        }
                    }
                }
                &.select2-container--open {
                    .selection {
                        .select2-selection {
                            &:after {
                                @include transforms(rotate(180deg), center);
                            }
                        }
                    }
                }
            }
        }
        &.--select2.--default {
            .select2-container--default {
                .select2-selection--single {
                    @include roundedAll(0);
                    border: 0;
                    background: transparent;
                    height: $field_height;
                    .select2-selection__rendered {
                        @include paragrafos();
                        @include roundedAll($field_radius);
                        padding: 0 $field_radius;
                        border-color: $fields_borderColor;
                        background: $field_bg;
                        height: $field_height;
                        line-height: $field_height;
                        padding-top: 8px;
                    }
                    .select2-selection__placeholder {
                        @include labels($tc: $placeholderText);
                        height: $field_height;
                        line-height: $field_height;
                    }
                    .select2-selection__arrow {
                        display: none;
                    }
                }
            }
        }
        &.--select2.--multiple {
            .select2-container--default {
                .selection {
                    .select2-selection {
                        .select2-search {
                            @include roundedAll($field_radius);
                            height: $field_height;
                            display: block;
                            position: relative;
                            background: $field_bg_focus;
                            &:after {
                                content: '';
                                display: block;
                                width: 20px;
                                height: 20px;
                                position: absolute;
                                top: 12px;
                                left: 20px;
                                z-index: 2;
                                background: url(#{$media_icons}icon_search.svg);
                            }
                            .select2-search__field {
                                @include transition($property: background);
                                background: $field_bg;
                                margin-top: 0;
                                margin-left: 0;
                                padding: 0 $field_padding;
                                border: 1px solid $fields_borderColor;
                                position: relative;
                                z-index: 3;
                                &:focus {
                                    border: 1px solid $fields_borderColor_focus;
                                    background-color: transparent;
                                    padding-left: 50px;
                                    z-index: 1;
                                }
                            }
                        }
                    }
                }
                .select2-selection--multiple {
                    @include roundedAll(0);
                    background-color: transparent;
                    border: 0;
                    padding-bottom: 0;
                    padding-right: 0;
                }
            }
        }
        &.--btn {
            display: block;
            .c-btn {
                @include flexWidth(100%);
            }
        }
        &.--text {
            p {
                @include paragrafos();
            }
        }
        &.--rangeDefault {
            label {
                margin-bottom: 10px;
            }
            .rangeSlider {
                display: block;
                position: relative;
                width: 100%;
                padding-bottom: 5px;
            }
            
            .rangeSlider__range {
                width: calc(100% - (55px));
                height: 4px;
                border-radius: 2px;
                background: $field_bg_focus;
                outline: none;
                padding: 0;
                margin: 0;
            }
            .rangeSlider__range::-webkit-slider-thumb {
                -webkit-appearance: none;
                appearance: none;
                width: 10px;
                height: 10px;
                border-radius: 50%;
                background: $primary;
                cursor: pointer;
                -webkit-transition: background .15s ease-in-out;
                transition: background .15s ease-in-out;
            }
            .rangeSlider__range::-webkit-slider-thumb:hover {
                background: $primaryDark;
            }
            .rangeSlider__range:active::-webkit-slider-thumb {
                background: #393939;
            }
            .rangeSlider__range::-moz-range-thumb {
                width: 10px;
                height: 10px;
                border: 0;
                border-radius: 50%;
                background: $primary;
                cursor: pointer;
                -moz-transition: background .15s ease-in-out;
                transition: background .15s ease-in-out;
            }
            .rangeSlider__range::-moz-range-thumb:hover {
                background: $primaryDark;
            }
            .rangeSlider__range:active::-moz-range-thumb {
                background: #393939;
            }
            .rangeSlider__range:focus::-webkit-slider-thumb {
                //box-shadow: 0 0 0 3px #fff, 0 0 0 6px #1abc9c;
            }
            
            .rangeSlider__value {
                @include roundedAll(10px);
                @include labels($tc: $white, $fs: 14px);
                display: block;
                width: 40px;
                line-height: 20px;
                height: 20px;
                text-align: center;
                background: $primary;
                position: absolute;
                right: 0;
                top: 50%;
                margin-top: -10px;
            }
            .rangeSlider__value:after {
                position: absolute;
                top: 3px;
                left: -5px;
                width: 0;
                height: 0;
                border-top: 7px solid transparent;
                border-right: 7px solid $primary;
                border-bottom: 7px solid transparent;
                content: '';
            }
            
            ::-moz-range-track {
                background: #393939;
                border: 0;
            }
            
            input::-moz-focus-inner,
            input::-moz-focus-outer {
                border: 0;
            }
        }
        &.--rangeDefault.--withArrow {
            padding-left: 50px;
            &:before {
                content: '';
                display: block;
                width: 20px;
                height: 20px;
                position: absolute;
                top: 10px;
                left: 20px;
                background: red;
                background: url(#{$media_icons}icon_sub.png);
                background-repeat: no-repeat;
                background-position: center;
                background-size: contain;
            }
        }
        &.--alert {
            margin-bottom: 10px;
            span {
                @include labels($fs: 12px);
                display: block;
                width: 100%;
                text-align: right;
            }
        }
    }
    
    // form with steps
    &__step {
        margin-top: 50px;
        h2 {
            margin-bottom: 10px;
        }
        &:first-of-type {
            margin-top: 0;
        }
    }
}
.c-formFeedback {
    @keyframes animationRotateLoader {
        from {@include transforms(rotate(0deg), center)}
        to {@include transforms(rotate(360deg), center)}
    }
    @include roundedAll($radius: 5px);
    position: relative;
    overflow: hidden;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    width: 100%;
    line-height: 28px;
    padding: 20px;
    i {
        @include flexWidth(40px);
        max-height: 40px;
        svg {
            width: 40px;
            height: 40px;
        }
    }
    span {
        @include letterSpacing($psValue: 50);
        display: block;
        padding-left: 15px;
        font-size: 16px;
        line-height: 1.2;
    }
    
    &.--error {
        background: $feedbackError;
        span {
            color: $white;
        }
    }
    &.--load {
        background: $feedbackLoad;
        span {
            color: $text;
        }
        i {
            animation-name: animationRotateLoader;
            animation-duration: 1s;
            animation-iteration-count: infinite;
            animation-timing-function: linear;
        }
    }
    &.--success {
        background: $feedbackSuccess ;
        span {
            color: $white;
        }
    }
}

// btns
$btn_maxWidth: 290px;
$btn_height: 54px;
$btn_heightSmall: 44px;
$btn_radius: 27px;
$btn_iconSize: 20px;
$btn_text_fontSize: 16px;
$btn_text_fontWeight: $fwBold;
.c-btn {
    @include transition();
    @include roundedAll($btn_radius);
    display: block;
    width: 100%;
    max-width: $btn_maxWidth;
    height: $btn_height;
    line-height: $btn_height;
    font-size: $btn_text_fontSize;
    font-weight: $btn_text_fontWeight;
    text-align: center;
    cursor: pointer;
    
    // colors modifiers
    &.--primary {
        background: $primary;
        color: $white;
        &:hover {
            background: $primaryDark;
        }
    }
    &.--secondary {
        background: $secondary;
        color: $white;
        &:hover {
            background: $secondaryDark;
        }
    }
    &.--white {
        background: $white;
        color: $text;
        &:hover {
            background: $white2;
        }
    }
    &.--disabled {
        pointer-events: none;
        background: $mediumGray;
        color: $baseGray;
    }
    
    // size modifiers
    &.--small {
        height: $btn_heightSmall;
        line-height: $btn_heightSmall;
    }
    
    // stroke
    &.--stroke {
        background: transparent;
        border: 2px solid;
        line-height: $btn_height - 4px;
        &.--primary {
            border-color: $primary;
            color: $primary;
            &:hover {
                border-color: $primaryDark;
                color: $white;
            }
        }
        &.--secondary {
            border-color: $secondary;
            color: $secondary;
            &:hover {
                border-color: $secondaryDark;
                color: $white;
            }
        }
        &.--white {
            border-color: $white;
            color: $white;
            &:hover {
                color: $baseGray;
            }
        }
        &.--disabled {
            border-color: $mediumGray;
            color: $baseGray;
        }
    }
    
    // with icon
    &.--icon {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        flex-wrap: nowrap;
        i {
            display: block;
            width: $btn_iconSize;
            height: $btn_iconSize;
            svg, img {
                display: block;
                width: $btn_iconSize;
                height: $btn_iconSize;
                object-fit: contain;
                object-position: center;
                path {
                    @include transition();
                }
            }
        }
        span {
            padding-left: 8px;
            font-size: $btn_text_fontSize;
            font-weight: $btn_text_fontWeight;
        }
        &.--primary {
            svg path {
                fill: $white;
            }
        }
        &.--secondary {
            svg path {
                fill: $white;
            }
        }
        &.--disabled {
            svg path {
                fill: $baseGray;
            }
        }
        &.--white {
            svg path {
                fill: $text;
            }
        }
    }
    
    // stroke with icon
    &.--icon.--stroke {
        &.--primary {
            svg path {
                fill: $primary;
            }
            &:hover {
                svg path {
                    fill: $white;
                }
            }
        }
        &.--secondary {
            svg path {
                fill: $secondary;
            }
            &:hover {
                svg path {
                    fill: $white;
                }
            }
        }
        &.--white {
            svg path {
                fill: $white;
            }
            &:hover {
                svg path {
                    fill: $baseGray;
                }
            }
        }
        &.--disabled {
            svg path {
                fill: $mediumGray;
            }
        }
    }
    
    // padding adjust
    &.--withPadding {
        padding: 0 20px;
    }
}

// menus e sub-menus
.c-hamburguer {
    @include flexWidth(20px);
    @include transition();
    height: 16px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    cursor: pointer;
    &__bar {
        @include transition();
        display: block;
        width: 100%;
        height: 1px;
        position: relative;
    }
    
    &.--gray {
        .c-hamburguer__bar {
            background: $baseGray;
        }
    }
    &.--white {
        .c-hamburguer__bar {
            background: $white;
        }
    }
    &.--primary {
        .c-hamburguer__bar {
            background: $primary;
        }
    }
    &.--secondary {
        .c-hamburguer__bar {
            background: $secondary;
        }
    }
    
    &.is-active {
        @include transforms(rotate(180deg), center);
        .c-hamburguer__bar {
            &:nth-child(1) {
                @include transforms(rotate(45deg), center);
                top: 7px;
            }
            &:nth-child(2) {
                @include opacity(0);
            }
            &:nth-child(3) {
                @include transforms(rotate(-45deg), center);
                top: -8px;
            }
        }
    }
}
.c-subMenu {
    @include transition();
    display: block;
    position: relative;
    z-index: 4;
    // default styles
    > .c-subMenu__call {
        @include transition();
        display: block;
        width: 100%;
        position: relative;
        text-align: center;
        cursor: pointer;
        z-index: 2;
        &:after {
            @include transition();
            content: '';
            display: block;
            width: 12px;
            height: 6px;
            position: absolute;
            bottom: -12px;
            left: 0;
            right: 0;
            margin: 0 auto;
            background: url(#{$media_assets}caret-down.svg);
            background-repeat: no-repeat;
            background-position: center;
            background-size: contain;
        }
        &.--btn {
            &:after {
            
            }
        }
    }
    > .c-subMenu__content {
        @include transition();
        @include scroll();
        @include calc(max-height, 100vh, '-', 300px);
        @include u-hideElement;
        @include transforms(translateX(-50%), center);
        @include roundedAll();
        border: 1px solid $lightGray;
        overflow-y: auto;
        overflow-x: hidden;
        display: block;
        width: 250px;
        position: absolute;
        top: 80px;
        left: 50%;
        background: $white;
        padding: 10px;
        z-index: 2;
        ul li {
            a {
                @include roundedAll();
                @include transition();
                display: block;
                padding: 10px;
                color: $text;
                &:hover {
                    background: $mutedGray;
                }
            }
        }
    }
    .c-subMenu__mask {
        width: 100%;
        height: 100%;
        position: fixed;
        top: 0;
        left: 0;
        background: rgba(0, 0, 0, 0.10);
        z-index: 1;
        display: none;
    }
    
    // sub menu level 1 ativo
    &.is-active {
        z-index: 3;
        > .c-subMenu__call {
            &:after {
                @include transforms(rotate(180deg), center);
            }
        }
        > .c-subMenu__content {
            @include u-showElement;
            top: 40px;
        }
        .c-subMenu__mask {
            display: block;
        }
    }
    
    // sub level 2
    .c-subMenu {
        @include roundedAll();
        border: 1px solid transparent;
        margin-bottom: 0;
        > .c-subMenu__call {
            text-align: left;
            padding-right: 30px;
            font-weight: bold;
            &:after {
                right: 10px;
                left: inherit;
                bottom: 50%;
                @include transforms(translateY(50%), center);
            }
        }
        > .c-subMenu__content {
            @include transforms(translateX(0), center);
            width: 100%;
            left: 0;
            top: 0;
            background: $white2;
            overflow: hidden;
            position: relative;
            padding: 0 10px;
            max-height: 0;
            border: 0;
        }
        &.is-active {
            border-color: $lightGray;
            background: $mutedGray;
            margin-bottom: 5px;
            > .c-subMenu__call {
                &:after {
                    @include transforms(rotate(180deg), center);
                }
            }
            > .c-subMenu__content {
                overflow-y: auto;
                padding: 10px;
                max-height: 400px;
            }
        }
    }
    
    // sub with c-btn
    &.--with-c-btn {
        > .c-subMenu__call {
            max-width: 100%;
            text-align: left;
            padding-right: 50px;
            padding-left: 20px;
            &.c-btnWithIcon {
                display: flex;
            }
            &.--primary {
                &:after {
                    background: url(#{$media_assets}caret-down-white.svg);
                    background-repeat: no-repeat;
                    background-position: center;
                    background-size: contain;
                }
            }
            &:after {
                @include transforms(translateY(50%), center);
                left: inherit;
                right: 20px;
                bottom: 50%;
            }
        }
        &.is-active {
            > .c-subMenu__content {
                top: $btn_height;
            }
        }
    }
    
    // mobile
    &.--mobile {
        .c-subMenu__mask {
            display: none !important;
        }
        > .c-subMenu__call {
            text-align: left;
            padding-right: 30px;
            &:after {
                @include transforms(translateY(-50%), center);
                left: inherit;
                bottom: inherit;
                right: 0;
                top: 50%;
            }
        }
        > .c-subMenu__content {
            @include transforms(translateX(0), center);
            overflow-y: hidden;
            max-height: 0;
            position: relative;
            top: 0;
            left: 0;
            padding: 0 10px;
            display: block;
            width: 100%;
            border: 0;
            background: $white3;
        }
    
        &.is-active {
            > .c-subMenu__call {
                &:after {
                    @include transforms(translateY(50%) rotate(180deg), center);
                }
            }
            > .c-subMenu__content {
                overflow-y: auto;
                top: 0;
                padding: 10px;
                max-height: 2500px;
                margin: 10px 0 20px 0;
            }
        }
    
        .c-subMenu {
            .c-subMenu__call {
                padding-right: 35px;
                &:after {
                    right: 10px;
                }
            }
        }
    }
}
$c_subMenuHover_defaultHeight: 100px;
.c-subMenuHover {
    position: relative;
    width: 100%;
    > a {
        display: block;
        height: $c_subMenuHover_defaultHeight;
        line-height: $c_subMenuHover_defaultHeight;
        position: relative;
        padding-right: 15px;
        &:after {
            @include transition();
            content: '';
            display: block;
            position: absolute;
            top: -1px;
            right: 0;
            width: 10px;
            height: $c_subMenuHover_defaultHeight;
            line-height: $c_subMenuHover_defaultHeight;
            background-image: url(#{$media_assets}caret-down-white.svg);
            background-repeat: no-repeat;
            background-position: center;
            background-size: contain;
        }
        &.is-blocked-mobile {
            pointer-events: none;
        }
    }
    
    &__sub {
        @include transition();
        @include u-hideElement;
        box-shadow: 0 9px 10px rgba(0, 0, 0, 0.15);
        display: block;
        width: 100%;
        position: absolute;
        background: $primary;
        padding: 20px 0;
        a {
            @include transition();
            @include paragrafos($fs: 14px, $fw: $fwBold, $tc: $white);
            display: block;
            width: 100%;
            padding: 10px 25px;
            &:hover {
                background: $primaryUtraDark;
            }
        }
    }
    
    &.--thisOpenInBottom {
        > .c-subMenuHover__sub {
            top: 50px;
            left: 0;
            max-width: 260px;
            min-width: 220px;
        }
    }
    &.--thisOpenInRight {
        > .c-subMenuHover__sub {
            @include calc(left, 100%, '+', 10px);
            top: 0;
            min-width: 150px;
            max-width: 200px;
        }
    }
    &.--thisOpenInLeft {
        > .c-subMenuHover__sub {
            @include calc(right, 100%, '+', 10px);
            top: 0;
            min-width: 150px;
            max-width: 200px;
        }
    }
    
    &:hover {
        > a {
            &:after {
                @include transforms(rotate(180deg), center);
            }
        }
        > .c-subMenuHover__sub {
            @include u-showElement;
        }
        &.--thisOpenInBottom {
            > .c-subMenuHover__sub {
                top: $c_subMenuHover_defaultHeight;
            }
        }
        &.--thisOpenInRight {
            > .c-subMenuHover__sub {
                left: 100%;
            }
        }
        &.--thisOpenInLeft {
            > .c-subMenuHover__sub {
                right: 100%;
            }
        }
    }
}
.c-whatsAppLink {
    position: fixed;
    bottom: 15px;
    right: 15px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    max-width: 60px;
    z-index: 12;
    &__icon {
        @include roundedAll(50%);
        @include flexWidth(60px);
        @include transition();
        background: $whatsappPrimary;
        background: radial-gradient(circle, $whatsappPrimary 0%, $whatsappSecondary 100%);
        -webkit-box-shadow: 0px 0px 29px -3px rgba(0,0,0,0.2);
        -moz-box-shadow: 0px 0px 29px -3px rgba(0,0,0,0.2);
        box-shadow: 0px 0px 29px -3px rgba(0,0,0,0.2);
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
        z-index: 2;
        height: 60px;
        cursor: pointer;
        img, svg {
            @include transition();
            @include transforms(rotate(10deg));
            width: 30px;
            height: 28px;
            display: block;
            path {
                fill: $white !important;
            }
        }
        &:hover {
            @include transforms(scale(1.1), center);
        }
    }
    &__infos {
        @include u-hideElement;
        position: relative;
        z-index: 1;
        display: flex;
        flex-direction: row;
        align-items: center;
        flex-wrap: wrap;
        text-align: right;
        div {
            @include flexWidth(100%);
            display: block;
            width: 100%;
            max-height: 24px;
        }
        span {
            position: relative;
            right: -60px;
            display: inline-block;
            font-weight: 700;
            padding: 0 40px 0 15px;
            height: 24px;
            line-height: 24px;
            white-space: nowrap;
            overflow: hidden;
            &.wppCaption {
                @include transition();
                background: $mutedGray;
                color: $whatsappSecondary;
                font-size: 13px;
                @include letterSpacing(20);
                @include rounded(top, left, 15px);
                @include rounded(bottom, left, 15px);
                @include rounded(top, right, 15px);
            }
            &.wppNumber {
                @include transition($delay: 100ms);
                background: $white;
                color: $whatsappSecondary;
                font-size: 14px;
                @include letterSpacing(0);
                @include rounded(bottom, left, 15px);
                @include rounded(bottom, right, 15px);
            }
        }
    }
    &:hover {
        max-width: 480px;
        .m_whatsApp__infos {
            @include transition($delay: 100ms);
            @include u-showElement;
            span {
                right: -25px;
            }
        }
        .m_whatsApp__icon {
            img, svg {
                @include transforms(rotate(0deg));
            }
        }
    }
}

// lists
.c-contactInfos {
    display: block;
    li {
        display: block;
        margin-bottom: 20px;
        &:last-of-type {
            margin-bottom: 0;
        }
    }
    a {
        display: flex;
        flex-direction: row;
        align-items: center;
        i {
            @include flexWidth(40px);
            padding-right: 10px;
            svg {
                width: 30px;
                height: 30px;
                display: block;
                path {
                    @include transition();
                }
            }
        }
        .caption {
            @include transition();
            @include paragrafos();
            font-style: normal;
        }
        &:hover {
            i {
                svg path {
                    fill: $secondary;
                }
            }
            .caption {
                color: $secondary;
            }
        }
    }
    
    &.--primary {
        a {
            i svg path {
                fill: $primary;
            }
            .caption {
                color: $primary;
            }
        }
    }
    &.--secondary {
        a {
            i svg path {
                fill: $secondary;
            }
            .caption {
                color: $secondary;
            }
        }
    }
    &.--white {
        a {
            i svg path {
                fill: $white;
            }
            .caption {
                color: $white;
            }
        }
    }
    &.--textColor {
        a {
            i svg path {
                fill: $textColor;
            }
            .caption {
                color: $textColor;
            }
        }
    }
}
.c-socialList {
    display: block;
    li {
        margin-bottom: 4px;
        &:last-of-type {
            margin-bottom: 0;
        }
    }
    a {
        display: block;
    }
    img {
        display: block;
        width: 22px;
        height: 22px;
    }
    &.--rounded {
        a {
            @include transition();
            @include roundedAll(50%);
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: center;
            width: 32px;
            height: 32px;
        }
        &.--primary {
            a {
                background: $primary;
                svg path, svg circle {
                    fill: $white !important;
                }
                &:hover {
                    background: $primaryDark;
                }
            }
        }
        &.--secondary {
            a {
                background: $secondary;
                svg path, svg circle {
                    fill: $white !important;
                }
                &:hover {
                    background: $secondaryDark;
                }
            }
        }
        &.--white {
            a {
                background: $white;
                svg path, svg circle {
                    fill: $baseGray !important;
                }
                &:hover {
                    background: $white3;
                }
            }
        }
    }
    &.--default {
        a {
            @include transition();
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: center;
            height: 43px;
            width: 43px;
        }
        &.--primary {
            a {
                background: $primary;
                &:hover {
                    background: $primaryDark;
                }
            }
        }
        &.--secondary {
            a {
                background: $secondary;
                &:hover {
                    background: $secondaryDark;
                }
            }
        }
        &.--white {
            a {
                background: $white;
                &:hover {
                    background: $white3;
                }
            }
        }
    }
}

// grid e tabs
.c-responsiveGrid {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    &.--col12 {> li {@extend .u-fw8;}}
    &.--col11 {> li {@extend .u-fw9;}}
    &.--col10 {> li {@extend .u-fw10;}}
    &.--col9 {> li {@extend .u-fw11;}}
    &.--col8 {> li {@extend .u-fw12;}}
    &.--col7 {> li {@extend .u-fw14;}}
    &.--col6 {> li {@extend .u-fw16;}}
    &.--col5 {> li {@extend .u-fw20;}}
    &.--col4 {> li {@extend .u-fw25;}}
    &.--col3 {> li {@extend .u-fw33;}}
    &.--col2 {> li {@extend .u-fw50;}}
    &.--col1 {> li {@extend .u-fw100;}}
    &.--colNaN {
        > li {
            flex: 1 1 auto;
        }
    }
}
.c-tabHorizontal {
    display: block;
    width: 320px;
    max-width: 100%;
    overflow: hidden;
    &__header {
       display: flex;
       flex-direction: row;
       align-items: stretch;
       justify-content: space-between;
       flex-wrap: nowrap;
       background: $primary;
       ul {
           @include scroll($size: 10px);
           @include transforms(rotate(180deg), center);
           background: $primary;
           direction: rtl;
           flex: 1 1 auto;
           overflow: auto;
           white-space: nowrap;
       }
       li {
           @include transforms(rotate(180deg), center);
           display: inline-block;
       }
       a {
           background: $primary;
           display: block;
           color: $white;
           text-align: center;
           padding: 14px;
           text-decoration: none;
           &:hover {
               background: $primaryDark;
           }
           &.is-active {
               color: $primary;
               background: $secondaryLight;
           }
       }
       &.is-scroll {
           .scrollBtn {
               display: flex;
               flex-direction: row;
               align-items: center;
               justify-content: center;
           }
       }
   }
    &__content {
        @include transition();
        @include u-hideElement;
        display: block;
        padding: 20px;
        border-left: 2px solid $primary;
        border-right: 2px solid $primary;
        border-bottom: 2px solid $primary;
        &.is-active {
            @include u-showElement;
        }
    }
}
.c-toggleList {
    margin-bottom: 10px;
    &:last-of-type {
        margin-bottom: 0;
    }
    &__header {
        background: $primary;
        padding: 10px 20px;
        padding-right: 45px;
        display: block;
        position: relative;
        cursor: pointer;
        &:hover {
            background: $primaryDark;
        }
        > * {
            @include transition();
            color: $white;
        }
        &:after {
            @include transition();
            @include transforms(translateY(-50%), center);
            content: '';
            display: block;
            width: 14px;
            height: 14px;
            position: absolute;
            right: 20px;
            top: 50%;
            background: url(#{$media_assets}caret-down-white.svg);
            background-repeat: no-repeat;
            background-position: center;
            background-size: contain;
        }
    }
    &__content {
        @include transition();
        @include u-hideElement;
        display: block;
        padding: 0 20px;
        border-left: 2px solid $primary;
        border-right: 2px solid $primary;
        border-bottom: 2px solid $primary;
        overflow: hidden;
        max-height: 0;
    }
    
    &.is-active {
        .c-toggleList__header {
            > * {
                color: $secondary;
            }
            &:after {
                @include transforms(translateY(-50%) rotate(180deg), center);
            }
        }
        .c-toggleList__content {
            @include u-showElement;
            overflow: auto;
            padding: 20px;
            max-height: inherit;
        }
    }
}

// ui
.c-linkScroll {
    @include animation__icon__scrollDown;
    @include transition();
    @include roundedAll(50%);
    //background: $white;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 35px;
    height: 35px;
    position: absolute;
    left: 0;
    right: 0;
    margin: 0 auto;
    cursor: pointer;
    &:hover {
        background: $primaryLight;
    }
    img {
        display: block;
        width: 16px;
        height: 16px;
        object-fit: contain;
        object-position: center;
    }
}
.c-linkReadMore {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    span {
        @include transition();
        @include paragrafos($fw: $fwBlack);
        padding-right: 15px;
        white-space: nowrap;
    }
    i {
        @include transition();
        @include flexWidth(43px);
        display: block;
        height: 43px;
        background-color : $wine;
        background-image: url(#{$media_assets}caret.svg);
        background-repeat: no-repeat;
        background-position: center;
        background-size: 20%;
    }
    &:hover {
        span {
            padding-right: 10px;
            color: $primaryDark;
        }
        i {
            background-color: $primaryDark;
        }
    }
}
.c-linkFindSubject {
    @include roundedAll(27px);
    @include paragrafos($tc: $white, $mb: 0, $fs: 14px, $fw: $fwRegular);
    @include transition();
    padding: 0 30px;
    display: block;
    width: 300px;
    max-width: 100%;
    height: 54px;
    line-height: 52px;
    border: 1px solid rgba(255,255,255,0.5);
    position: relative;
    &:after {
        @include transition();
        content: '';
        display: block;
        width: 5px;
        height: 52px;
        position: absolute;
        top: 0;
        right: 20px;
        background-image: url(#{$media_assets}caret-right-white.svg);
        background-repeat: no-repeat;
        background-position: center;
        background-size: contain;
    }
    &:hover {
        border: 1px solid rgba(255,255,255,1);
        &:after {
            right: 15px;
        }
    }
}
.c-video {
    @extend .u-aspectRatio;
    @extend .--ratio-16-9;
    background-size: cover !important;
    background-position: center !important;
    background-repeat: no-repeat !important;
    i {
        @include transition();
        @include roundedAll(50%);
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        width: 100px;
        height: 100px;
        background: $primary;
        position: absolute;
        top: 50%;
        left: 50%;
        margin-top: -50px;
        margin-left: -50px;
        svg {
            display: block;
            width: 30px;
            height: 30px;
            object-fit: contain;
        }
    }
    &:hover {
        i {
            background: $primaryDark;
        }
    }
}
.c-searchListMedic {
    &__form {
        width: 100%;
        max-width: 400px;
    }
    &__results {
        margin-top: 40px;
    }
    .c-responsiveGrid {
        @include calcWidthForPositionNegative(-8px);
        justify-content: flex-start;
        margin-top: 35px;
        > li {
            padding: 0 8px;
        }
    }
    .c-form {
        &__field {
            &.--select {
                select, input {
                    height: 52px;
                    line-height: 52px;
                    padding-top: 0;
                    padding-bottom: 0;
                }
            }
        }
    }
}
.c-ctaBox {
    .c-btn {
        @include roundedAll(50px);
        max-width: 500px;
        height: auto;
        margin: 0 auto;
        line-height: 1.1;
        padding: 25px 15px;
    }
}
.c-itemList {
    display: block;
    position: relative;
    padding-left: 35px;
    max-width: 520px;
    &:before {
        content: '';
        display: block;
        width: 10px;
        height: 10px;
        position: absolute;
        top: 0;
        left: 0;
        background: $primary;
    }
    p {
        @include paragrafos();
    }
    h4 {
        @include defaultTitle($fs: 16px);
        text-transform: uppercase;
        margin-bottom: 4px;
    }
}

// cards
.c-cardTreatment {
    i {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        width: 45px;
        height: 45px;
        margin: 0 auto;
        img {
            display: block;
            max-width: 45px;
            max-height: 45px;
            object-fit: contain;
            object-position: center;
        }
    }
    h3 {
        @include defaultTitle($fs: 14px);
        text-align: center;
        text-transform: uppercase;
        margin: 25px 0 20px 0;
    }
    p {
        @include paragrafos($fs: 14px);
        text-align: center;
    }
}
.c-cardBenefit {
    @include transition();
    @include defaultShadow;
    display: block;
    background: $white;
    &__content {
        padding: 30px;
        h3 {
            margin-bottom: 20px;
            color: $black;
            font-weight: $fwBlack;
        }
        p, h3 {
            text-align: center;
            display: block;
            font-size: 14px;
        }
    }
}
.c-cardQuote {
    display: block;
    position: relative;
    &__cover {
        @include defaultShadow;
        display: block;
        width: 100%;
        overflow: hidden;
        background: $primary;
        position: relative;
        img {
            @include transition();
            display: block;
            width: 100%;
            height: 210px;
            object-fit: cover;
        }
        i {
            @include roundedAll(50%);
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: center;
            width: 40px;
            height: 40px;
            position: absolute;
            top: 50%;
            left: 50%;
            margin-top: -20px;
            margin-left: -20px;
            background-color: $primary;
            background-image: url(#{$media_icons}icon_play.svg);
            background-repeat: no-repeat;
            background-position: center;
            background-size: 15%;
        }
        &:hover {
            img {
                @include transforms(scale(1.1), center);
                @include opacity(0.8);
            }
        }
    }
    &__quote {
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        justify-content: flex-end;
        padding: 25px;
        position: relative;
        blockquote {
            @include paragrafos();
            max-width: 265px;
            text-align: right;
        }
        .css-titleDetail {
            position: absolute;
            right: 25px;
            bottom: 10px;
        }
    }
}
.c-cardInfo {
    @include defaultCard;
    padding: 0;
    display: flex;
    flex-direction: row;
    background: $white;
    padding-right: 20px;
    margin: 0 auto;
    max-width: 100%;;
    &__content {
        @include flexWidth(60%);
        padding: 35px;
    }
    &__figure {
        @include flexWidth(40%);
        position: relative;
        img {
            display: block;
            width: 100%;
            height: 100%;
            position: absolute;
            top: 0;
            left: 0;
            object-fit: contain;
            object-position: center;
        }
    }
    h3 {
        text-transform: uppercase;
        color: $text;
        font-size: 14px;
        font-weight: $fwRegular;
        margin-bottom: 4px;
    }
    h4 {
        @include paragrafos($tc: $primary);
    }
    p {
        @include paragrafos($tc: $primary);
        margin-top: 10px;
    }
    .c-btn {
        display: inline-block;
        max-width: 100%;
        min-width: 150px;
        width: auto;
        margin-top: 15px;
    }
    
    &.--figureAlignBottom {
        .c-cardInfo__figure {
            img {
                object-position: bottom;
            }
        }
    }
}
.c-cardBlog {
    @include transition();
    display: block;
    background: $white;
    h3 {
        display: block;
        text-align: center;
        margin-bottom: 20px;
        color: $black;
        font-size: 16px;
        font-weight: $fwBlack;
    }
    p {
        @include paragrafos($fs: 14px);
        text-align: center;
    }
    &__figure {
        display: block;
        padding-top: 140%;
    }
    &__content {
        display: block;
        padding: 25px;
    }
    &:hover {
        @include defaultShadow;
    }
}
.c-cardActionArea {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    &__icon {
        @include flexWidth(68px);
        height: 68px;
        display: block;
        img {
            display: block;
            width: 100%;
            height: 68px;
            object-fit: contain;
        }
    }
    &__content {
        padding-left: 15px;
        span {
            @include paragrafos($fw: $fwBold, $tc: $white, $fs: 14px);
        }
    }
    &.--bigFont {
        span {
            font-size: 18px;
        }
    }
}
.c-cardMedic {
    padding: 25px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    &.--isGray {
        background: $greenLight;
    }
    h4, p {
        @include flexWidth(100%);
        display: block;
    }
    h4 {
        @include defaultTitle($fs: 18px);
        line-height: 1.1;
    }
    p {
        @include paragrafos();
        position: relative;
        top: 3px;
    }
}